.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #F2EAD3;
}

.movie-title {
  margin: 10px;
  height: 40px;
  font-weight: 500;
}

.movie-date {
  font-style: italic;
  font-weight: 200;
}

.movie-rating {
  font-weight: 300;
}

.image-container {
  height: 300px;
}

.movie-image {
  width: 200px;
  height: 300px;
  border-radius: 10px;
}

.movie-container {
  margin-top: 250px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  row-gap: 20px;
}

.movie-wrapper {
  width: 200px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.movie-search {
  font-size: 16px;
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #3F2305;
}

.movie-search:focus {
  outline: 0px;
  background-color: transparent;
  border: 1px solid #3F2305;
}

.title-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  margin-top: 32px;
}

.title-content {
  margin: 10px;
}

@media (max-width: 576px) {
  .movie-wrapper {
    width: 120px;
    padding-bottom: 10px;
    border-radius: 10px;
  }
  .movie-image {
    width: 120px;
    height: 180px;
  }
  .image-container {
    height: 200px;
  }
  .movie-title {
    margin: 0px;
    height: 50px;
  }
}