#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.movie-title {
  margin: 10px;
}

.movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.movie-wrapper {
  background-color: black;
  width: 10rem;
  color: white;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
}

.movie-search {
  height: 24px;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 16px;
}