:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: #ebf2f9;
  background-color: #24323f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0px;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

@media (max-width: 576px) {
  html {
    font-size: 80%;
  }
}